.env
**/.env
**/venv/
**/__pycache__/
node_modules/
dist/
.vite/

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl
infra/terraform.tfvars
**/.terraform.tfstate.lock.info
terraform.tfstate